.logout{
    padding: 10px;
    background-color: pink;
    font-size: 25px;
}



.cabecalho{
    background-color: pink;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
    h1{
        color: black;
        padding: 20px;
        font-size: 30px;
    }
    h3{
        color: black;
        margin-right: 9px;
        padding: 20px;
        font-size: 15px;
    }
}